.cu-dialog{
	max-width: 560rpx;
	.content{
		.swiper{
			height:900rpx;
			image{
				height:700rpx ;
			}
			.name{
				font-size: 34rpx;
				font-weight: bold;
				margin: 20rpx;
			}
			.cover_desc{
				font-size: 32rpx;
				padding: 0rpx 20rpx 20rpx 20rpx;
			}
		}
		
	}
}
.container{
	.top{
		background-color: white;
		.top_top{
				position: relative;
			.coupon{
				height: 50rpx;
				line-height: 50rpx;
				width: 90rpx;
				border-radius: 30rpx 0rpx 0rpx 30rpx;
				position: absolute;
				right: 0;
				bottom: 40rpx;
				padding-left: 20rpx;
				color: #DBA871;
				background-color: black;
			}
			.img{
				width: 190rpx;
				min-height: 250rpx;
				max-height: 400rpx;
				border-radius: $border-radius-base;
			}
			.right{
				padding: 10rpx 30rpx;
				font-size: $font-size-base;
				.title{
					font-size: $font-size-extra-lg;
				}
				.type{
					.cu-tag{
						height: 38rpx;
						font-weight: normal;
						border-radius: $border-radius-base;
					}
					.mt8{
						margin-top: 4rpx;
					}
				}
				.price{
					font-family: neutra;
					font-size:$font-size-lg;
					color: $color-primary;
				}
			}
		}
		
		.top_bottom{
			display: flex;
			flex-direction: row;
			font-size: $font-size-base;
			padding: 30rpx 0rpx;
			.block{
				display: flex;
				flex-direction: column;
				width: 33%;
				padding: 0rpx 40rpx;
				text-align: center;
				border-right: 1px solid #cdcdcd;
				.top{
					font-weight: bold;
					font-size: $font-size-medium;
				}
				.bottom{
					color: grey;
					margin-top: 20rpx;
				}
			}
		}
	}
	.desc{
		margin-top: 20rpx;
		padding: 30rpx 30rpx 10rpx 30rpx;
		background-color: white;
		.title{
			font-size: $font-size-lg;
			font-family: wenyue;
			padding: 0rpx 0rpx 20rpx 0rpx;
		}
		.content{
			font-size: $font-size-medium;
			letter-spacing: 5rpx;/* 字间距 */
			// text-indent: 40rpx;/* 自然段缩进 */
			line-height: 150%;/* 行间距 */
			.more {
				padding: 20rpx 20rpx 10rpx 0rpx;
				display: flex;
				float: right;
			
				.down-icon {
					margin-left: 10rpx;
					width: 40rpx;
					height: 40rpx;
				}
			}
		}
		.role{
			width: 100%;
			position: relative;
			.swiper {
				min-height: 300rpx;
				margin-bottom: 10rpx;
								
				.swiper-item {
						margin-top: 20rpx;
						.swiper-item-wrapper {
							display: flex;
							background-color: $bg-color-white;
							padding-right: 20rpx;
							margin-right: 40rpx;
								.kbcs{
									padding: 10rpx 16rpx;
									text-align: center;
								}
								image {
									width: 200rpx;
									border-radius: 10%;
								}
						}
					}
			}
		}
	}
	.guessyoulike{
		margin-top: 20rpx;
		padding: 30rpx 30rpx 100rpx 30rpx;
		background-color: white;
		.title{
			font-size: $font-size-extra-lg;
			font-family: wenyue;
			padding: 0rpx 0rpx 20rpx 0rpx;
		}
		.drama{
			width: 100%;
			position: relative;
			.swiper {
				min-height: 350rpx;
				margin-bottom: 10rpx;
								
				.swiper-item {
						margin-top: 20rpx;
						.swiper-item-wrapper {
							display: flex;
							background-color: $bg-color-white;
							padding-right: 20rpx;
							margin-right: 40rpx;

							.kbcs{
								padding: 10rpx 16rpx;
								text-align: center;
							}
							image {
								width: 180rpx;
								border-radius: $border-radius-lg;
							}
						}
					}
			}
		}
	
	}
	
	.footer{
		height: 100rpx;
		padding: 10rpx 50rpx;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		background-color: #FFFFFF;
		z-index: 10;
		.btn{
				width: 50%;
				font-size: 32rpx;
				color: white;
				padding: 0 40rpx;
				line-height: 80rpx;
				background-color: #DBA871;
				border-radius: 50rpx;
				.follow{
					font-size: 38rpx;
					margin-right: 10rpx;
				}
		}
		
	}
}