	.footer {
		height: 100rpx;
		position: fixed;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		
		z-index: 20;
		.btn-group{
			margin: 0rpx auto;
			.cu-btn{
				margin:0rpx 20rpx;
				padding: 0rpx 50rpx;
				border-radius: 16rpx;
			}
		}
	}
	
	.change_detail{
		background-color: white;
		margin: 20rpx 0rpx 20rpx 0rpx;
		.title{
			padding: 40rpx 26rpx;
			font-size: $font-size-xl;
			font-weight: bold;
			.cu-capsule{
				margin-left: 20rpx;
				.cu-tag{
					height: 38rpx;
				}
			}
		}
		.avatars{
			padding: 20rpx 20rpx 50rpx 20rpx;
			.wait-join{
				background-image: url("/static/images/group/Add.png");
			}
			.margin-left{
				margin-left:20rpx;
				margin-top: 20rpx;
			}
			.cu-avatar.lg{
				width: 96rpx;
				height: 96rpx;
			}
		}
		.cu-btn{
			width: 85%;
			margin:0rpx auto;
			border-radius: 30rpx;
			align-items: center;
			font-size: 30rpx;
			letter-spacing: 6rpx;
		}
	}
	.tips-box {
			border-radius: 36rpx 36rpx 0 0;
			box-shadow: 0 0 20rpx 0 rgba($color: #333, $alpha: 0.1);
			display: flex;
			flex-direction: column;
			background-color: $bg-color-white;
			flex-shrink: 0;
			padding: 30rpx 30rpx 40rpx 30rpx;
			.tips_title{
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			.tips{
				letter-spacing: 4rpx;
				text-indent: 1em;
				margin-top: 20rpx;
			}
			.status-icon {
				width: 60rpx;
				height: 60rpx;
				// margin-bottom: 30rpx;
			}
		}
	
	.desc{
		margin-top: 20rpx;
		background-color: white;
		padding-bottom: 40rpx;
		.title{
			padding: 20rpx 26rpx;
			font-size: $font-size-xl;
			font-weight: bold;
		}
		
		.role{
			width: 100%;
			position: relative;
			margin-left: 30rpx;
			.swiper {
				min-height: 300rpx;
				margin-bottom: 10rpx;
								
				.swiper-item {
						margin-top: 20rpx;
						.swiper-item-wrapper {
							display: flex;
							background-color: $bg-color-white;
							padding-right: 20rpx;
							margin-right: 40rpx;
								.kbcs{
									padding: 10rpx 16rpx;
									text-align: center;
								}
								image {
									width: 160rpx;
									border-radius: $border-radius-lg;
								}
						}
					}
			}
		}
	}
	.cu-dialog{
		max-width: 560rpx;
		.content{
			.swiper{
				height:900rpx;
				image{
					height:700rpx ;
				}
				.name{
					font-size: 34rpx;
					font-weight: bold;
					margin: 20rpx;
				}
				.cover_desc{
					font-size: 32rpx;
					padding: 0rpx 20rpx 20rpx 20rpx;
				}
			}
			
		}
	}
